<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="gazebo_l515" params="parent
                                          name:=l515
                                          width:=480
                                          height:=360
                                          fov:=1.4
                                          image_fps:=30
                                          accel_fps:=62.5
                                          gyro_fps:=200
                                          ">

    
    <!-- Depth camera sensor -->
    <gazebo reference="${name}_depth_frame">
      <sensor name="rgbd_camera" type="rgbd_camera">
        <!-- <pose>0 0 0.0 ${-PI/2} 0 ${PI/2}</pose> -->
        <!-- <gz_frame_id>${name}_depth_optical_frame</gz_frame_id> -->
        <always_on>1</always_on>
        <update_rate>${image_fps}</update_rate>
        <visualize>true</visualize>
        <topic>/${name}</topic>
        <camera name="${name}">
          <horizontal_fov>${fov}</horizontal_fov>  <!--1.047-->
          <image>
            <width>${width}</width>
            <height>${height}</height>
          </image>
          <clip>
            <near>0.3</near>
            <far>20</far>
          </clip>
          <lens>
            <type>pinhole</type>
            <scale_to_hfov>true</scale_to_hfov>
            <cutoff_angle>${fov/2}</cutoff_angle> 
            <env_texture_size>1024</env_texture_size>
            <intrinsics>
              <fx>${width / (2 * tan(fov/2))}</fx>
              <fy>${width / (2 * tan(fov/2))}</fy>
              <cx>${width / 2}</cx>
              <cy>${height / 2}</cy>
            </intrinsics>
            <projection>
              <p_fx>${width / (2 * tan(fov/2))}</p_fx>
              <p_fy>${width / (2 * tan(fov/2))}</p_fy>
              <p_cx>${width / 2}</p_cx>
              <p_cy>${height / 2}</p_cy>
            </projection>
            <!-- <distortion>
              <k1>-0.15</k1>
              <k2>0.041209</k2>
              <k3>-0.037267</k3>
              <k4>0.007446</k4>
              <p1>0</p1>
              <p2>0</p2>
              <center>0.5 0.5</center>
            </distortion> -->
          </lens>
          <optical_frame_id>${name}_depth_optical_frame</optical_frame_id>
        </camera>
      </sensor>
    </gazebo>

    <!-- IMU sensor -->
    <gazebo reference="${name}_imu_optical_frame">
      <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>${gyro_fps}</update_rate>
      <visualize>false</visualize>
      <topic>/${name}/imu/raw</topic>
      <ignition_frame_id>${name}_imu_optical_frame</ignition_frame_id>
      <imu>
          <angular_velocity>
          <x>true</x>
          <y>true</y>
          <z>true</z>
          </angular_velocity>
          <linear_acceleration>
          <x>true</x>
          <y>true</y>
          <z>true</z>
          </linear_acceleration>
      </imu>
      
      </sensor>
    </gazebo>
    
  </xacro:macro>
</robot>